*.ert2
*.ert
*.cache
*.o
.DS_Store
.*.swp
.svn/*
/env
/dl
/.config
/.config.old
/bin
/build_dir
/staging_dir
/tmp
/logs
/feeds
/feeds.conf
/files
/package/feeds
/package/openwrt-packages
/build-host
key-build*
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
*.opensdf
*.suo
*.sdf
*.iobj
*.ipdb
*.idb
*.pdb
*.obj
*.log
*.tlog
*.ilk
win32/Debug
win32/x64
win32/*/Debug
*.ipch
*.dll
*.exe
out/
*.lib
*.log
*.pch
*.exp
Releases/