ARM/*
PT_INSTALL/GroupPackages
UpgradeLog.htm
*.lic
*.ert2
*.ert
*.cache
*.o
.DS_Store
.*.swp
.svn/*
/env
/dl
/.config
/.config.old
/bin
*.elic
/build_dir
/staging_dir
/tmp
.ert3
*.opendb
/logs
/feeds
/feeds.conf
/files
/package/feeds
/package/openwrt-packages
/build-host
key-build*
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
*.opensdf
*.suo
*.sdf
*.iobj
*.ipdb
*.idb
*.pdb
*.obj
*.VC.db
*.log
*.tlog
*.ilk
win32/Debug
win32/x64
win32/*/Debug
*.ipch
*.dll
*.exe
out/
*.lib
*.log
x64/*
*.pch
*.exp
Releases/
*CMakeLists.text.*
CMakeCache*
CMakeCCompile
CMakeFiles
*.cmake
*.so
install_manifest.txt
Makefile
CMakeLists.txt.user
CryptUtilsGUI/bin
CryptUtilsGUI/obj
CryptUtilsGUI/lib
UpgradeLog3.html